
<!--************************** supplier page ***********************************-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheet to handle the searchbar specially -->
    <link rel="stylesheet" type="text/css" href="/css/supplierSearch.css">
    <link rel="stylesheet" type="text/css" href="/css/supplier.css">

    <title>Supplier Information</title>
</head>

<body>
    <div class="container mt-5">
        <div id="navbar">
            <h1 class="mb-4">Supplier Information</h1>
            <div class="search-box">
                <form id="searchForm">
                    <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
                    <input type="text" class="input-search" id="searchkey" placeholder="Search...">
                </form>
            </div>
        </div>
        
        <br><br><br>
        <br><br><br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>SUPPLIER ID</th>
                        <th>NAME</th>
                        <th>CITY</th>
                        <th>COUNTRY</th>
                    </tr>
                </thead>
                <tbody>
                    <% suppliers.forEach(supplier => { %>
                    <tr>
                        <td><%= supplier.SUPPLIER_ID %></td>
                        <td><a href="#" class="supplier-details-button" data-supplier-id="<%= supplier.SUPPLIER_ID %>"><%= supplier.SUPPLIER_NAME %></a></td> 
                        <td><%= supplier.CITY %></td>
                        <td><%= supplier.COUNTRY %></td>
                    </tr>
                    <% });
                    %>
                </tbody>
            </table>
        </div>
        <div class="add_button">
            <br><br><br>
            <button type="button" id="add_button">Add Supplier</button>
        </div>
    </div>
    <script src="/js/supplierPageControllers/addScript.js"></script>
    <script src="/js/supplierPageControllers/searchScript.js"></script>
    <script src="/js/supplierPageControllers/supplierClick.js"></script>
</body>
</html>
