<!--************************** edit transporters page ***********************************-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Shipping Company</title>
    <link rel="stylesheet" type="text/css" href="/css/addSupplier.css">
</head>
<body>
    <div class="login-box">
        <h2>Shipping Company Information</h2>
        <form method="post" action="/transports/edit/submit?companyId=<%= companyinfo[0].COMPANY_ID %>" id="editingForm">

            <div class="user-box">
                <input type="text" id="name" name="name" required="" value="<%= companyinfo[0].NAME %>">
                <label>Name</label>
            </div>

            <div class="user-box">
                <input type="text" id="url" name="url" required="" value="<%= companyinfo[0].URL %>">
                <label>url</label>
            </div>

            <h3>Address</h3>
            <div class="user-box">
                <input type="text" id="street_address" name="street" required="" value="<%= companyinfo[0].STREET_ADDRESS %>">
                <label>Street Address</label>
            </div>
            <div class="user-box">
                <input type="text" id="postal_code" name="postal_code" required="" value="<%= companyinfo[0].POSTAL_CODE %>">
                <label>Postal Code</label>
            </div>
            <div class="user-box">
                <input type="text" id="city" name="city" required="" value="<%= companyinfo[0].CITY %>">
                <label>City</label>
            </div>
            <div class="user-box">
                <input type="text" id="country" name="country" required="" value="<%= companyinfo[0].COUNTRY %>">
                <label>Country</label>
            </div>

            <!-- Add these lines to your HTML form -->


            <!-- Phone Numbers -->
            <div id="phone_container" class="contact-container">
                <% phone_numbers.forEach(function(phone) { %>
                    <div class="user-box">
                        <input type="text" name="phone_number[]" required="" value="<%= phone.VALUE %>">
                        <label>Phone Number</label>
                    </div>
                <% }); %>
                <button type="button" class="add_contact" data-container="phone_container">Add Another Phone Number</button>
            </div>
            
            <!-- Emails -->
            <div id="email_container" class="contact-container">
                <% emails.forEach(function(email) { %>
                    <div class="user-box">
                        <input type="text" name="email[]" required="" value="<%= email.VALUE %>">
                        <label>Email</label>
                    </div>
                <% }); %>
                <button type="button" class="add_contact" data-container="email_container">Add Another Email</button>
            </div>
            
            <div class="user-box">
                <input type="text" id="capacity" name="capacity" required="capacity" value="<%= companyinfo[0].CAPACITY %>">
                <label>Capacity(in TEUs)</label>
            </div>
            
            <h3>Payment Information</h3>

            <div class="user-box">
                <input type="text" id="account_number" name="account_number" required="account_number" value="<%= companyinfo[0].ACCOUNT_NUMBER %>">
                <label>Account Number</label>
            </div>

            <div class="user-box">
                <input type="text" id="account_holder" name="account_holder" required="account_holder" value="<%= companyinfo[0].ACCOUNT_HOLDER %>">
                <label>Account Holder</label>
            </div>

            <div class="user-box">
                <input type="text" id="bank" name="bank" required="bank" value="<%= companyinfo[0].BANK_NAME %>">
                <label>Bank</label>
            </div>

            <div class="user-box">
                <input type="text" id="iban" name="iban" required="iban" value="<%= companyinfo[0].IBAN %>">
                <label>IBAN</label>
            </div>

            <a href="#" id="edit_button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Edit
            </a>
        </form>
        </div>
        <script src="/js/transporters/editTransportController.js"></script>
</body>
</html>