

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/orderform.css">
    <link rel="stylesheet" type="text/css" href="/css/addPO.css">
    <link rel="stylesheet" type="text/css" href="/css/addcontainer.css">
    <title>Add purchase order</title>
</head>

<body>
    <div class="d-flex">
        <div class="login-box">
            <h2>Purchase Information</h2>
            <form method="post" action="/purchaseOrder/submit" id="addingForm">
                
                
                <div class="user-box">
                    <input type="text" id="account_number" name="account_number" required="account_number" value="<%= supplierinfo[0].ACCOUNT_NUMBER %>">
                    <label>Account Number</label>
                    <input type="hidden" name="supplierId" value="<%= supplierinfo[0].SUPPLIER_ID %>">
                </div>
    
                <div class="user-box">
                    <input type="text" id="account_holder" name="account_holder" required="account_holder" value="<%= supplierinfo[0].ACCOUNT_HOLDER %>">
                    <label>Account Holder</label>
                    <input type="hidden" name="to_acc" value="<%= supplierinfo[0].ID %>">
                </div>
    
                <div class="user-box">
                    <input type="text" id="bank" name="bank" required="bank" value="<%= supplierinfo[0].BANK_NAME %>">
                    <label>Bank</label>
                </div>
                <div class="user-box">
                    <input type="text" id="pickupDate" name="pickupDate" required="" value="">
                    <label>Pick up date</label>
                </div>
                <div class="user-box">
                    <input type="text" id="method" name="method" required="" value="Credit Card">
                    <label>Method</label>
                </div>
                <div class="user-box">
                    <input type="text" id="currency" name="currency" required="" value="Taka">
                    <label>Currency</label>
                </div>
                <div class="user-box">
                    <input type="text" id="total_amount" name="total_amount" required="" value="">
                    <label>Total amount</label>
                </div>
                <h3>Shipping Information</h3>

                <div class="user-box">
                    <select id="inputSupplier" class="form-control" name="tcompany">
                        <option value="" selected>Choose Transport Company</option>
                        <% tcompany_list.forEach(tc => { %>
                            <option value="<%= tc.ORGANIZATION_ID %>"><%= tc.NAME %></option>
                        <% }); %>
                    </select>
                    <!-- <label>Transport Company</label> -->
                </div><br><br>

                <div class="user-box">
                    <input type="text" id="pickupLocation" name="pickupLocation" required="" value="<%= supplierinfo[0].PICKUP_LOCATION %>">
                    <label>Pickup Location</label>
                    <input type="hidden" name="start_loc" value="<%= supplierinfo[0].LOCATION_ID %>">
                    <input type="hidden" name="dest" value="<%= destination[0].LOCATION_ID %>">
                </div>
                <div class="user-box">
                    <input type="text" id="departure_time" name="departure_time" required="" value="">
                    <label>Departure Time</label>
                </div>
                <div class="user-box">
                    <input type="text" id="departure_date" name="departure_date" required="" value="">
                    <label>Departure Date</label>
                </div>
                <div class="user-box">
                    <input type="text" id="arrival_time" name="arrival_time" required="" value="">
                    <label>Arrival Time</label>
                </div>
                <div class="user-box">
                    <input type="text" id="arrival_date" name="arrival_date" required="" value="">
                    <label>Arrival Date</label>
                </div>
                <div class="user-box">
                    <input type="text" id="vehicle_no" name="vehicle_no" required="" value="">
                    <label>Vehicle No</label>
                </div>
                <div class="user-box">
                    <input type="text" id="current_location" name="current_location" required="" value="">
                    <label>Current Location</label>
                </div>
    
                <input type="hidden" id="selectedProductData" name="selectedProductData" value="">

                <a href="#" id="add_button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Add
                </a>
            </form>
        </div>
        <!-- table starts -->
        <div class="table-container">
            <div class="table-box">
                <table>
                    <thead>
                        <tr>
                            <th>Products</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product =>{ %>
                            <tr>
                                <td><%= product.PRODUCT_NAME %></td>
                                <td>
                                    <div class="user-box">
                                        <input type="checkbox" id="<%= product.PRODUCT_ID %>" class="productCheckbox" />
                                        <!-- <label for="checkbox<%= product.PRODUCT_ID %>"></label> -->
                                        <input type="number" id="quantity<%= product.PRODUCT_ID %>" name="quantity<%= product.PRODUCT_ID %>" />
                                    </div>
                                </td>
                                <td>
                                    <form action="">
                                        <input type="number" id="price<%= product.PRODUCT_ID %>" value="<%= product.RETAIL_PRICE %>">
                                    </form>
                                </td>
                            </tr>
                        <% });
                        %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>  
    <script src="/js/POpageControllers/addPOController.js"></script>  
</body>

</html>
