<!--************************** suppliers page ***********************************-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/supplierSearch.css">
    <link rel="stylesheet" type="text/css" href="/css/supplier.css">
    <link rel="stylesheet" type="text/css" href="/css/dropdown.css">

    <title>Client Orders</title>
</head>

<body>
    <div class="container mt-5">
        <div id="navbar">
            <h1 class="mb-4">Client Orders</h1>
            <div class="search-box">
                <form id="searchForm">
                    <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
                    <input type="text" class="input-search" id="searchkey" placeholder="Search...">
                </form>
            </div>
        </div>
  

        <br><br><br>
        <br><br><br>
         
        <!--po list-->

        <div class="table-responsive">
            <% if (clientOrders.length > 0) { %>
                <table class="table table-bordered table-hover table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th>TRANSACTION ID</th>
                            <th>CLIENT NAME</th>
                            <th>PAYMENT STATUS</th>
                            <th>SHIPMENT STATUS</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% clientOrders.forEach(purchase_order => { %>
                        <tr>
                            <td><%= purchase_order.TRANSACTION_ID %></td>
                            <td><a href="#" class="supplier-details-button" data-supplier-id="<%= purchase_order.SUPPLIER_ID %>"><%= purchase_order.NAME %></a></td> 
                            <td><%= purchase_order.PAYMENT_STATUS %> </td>
                            <td><%= purchase_order.SHIPMENT_STATUS %></td>
                            <td><%= purchase_order.STATUS %></td>
                            <td>
                                <button class="details-button" transaction-id="<%= purchase_order.TRANSACTION_ID %>">Details</button>
                            </td>
                        </tr>
                        <% });
                        %>
                    </tbody>
                </table>
            <% } else { %>
                <p>        No client orders found.</p>
            <% } %>
        </div>
        
        
    </div>
    <!--<script src="/js/supplierPageControllers/addScript.js"></script>
    <script src="/js/supplierPageControllers/searchScript.js"></script>-->



    <script src="/js/clientOrders/clientOrderController.js"></script>


</body>
</html>

