<!--************************** branches page ***********************************-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheet to handle the searchbar specially -->

    <link rel="stylesheet" type="text/css" href="/css/supplierSearch.css">
    <link rel="stylesheet" type="text/css" href="/css/supplier.css">

    <title>Branches</title>
</head>

<body>
    <div class="container mt-5">
        <div id="navbar">
            <h1 class="mb-4">Branches</h1>
            <div class="search-box">
                <form id="searchForm">
                    <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
                    <input type="text" class="input-search" id="searchkey" placeholder="Search...">
                </form>
            </div>
        </div>
  

        <br><br><br>
        <br><br><br>
         
        <!--product list-->

        <div class="table-responsive">
            <% if (branches.length > 0) { %>
                <table class="table table-bordered table-hover table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th>BRANCH ID</th>
                            <th>BRANCH NAME</th>
                            <th>MANAGER</th>
                            <th>ADDRESS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% branches.forEach(branch => { %>
                        <tr>
                            <td><%= branch.BRANCH_ID %></td>
                            <td><a href="#" class="branch-details-button" data-branch-id="<%= branch.BRANCH_ID %>"><%= branch.NAME %></a></td> 
                            <td><%= branch.MANAGER %></td>
                            <td><%= branch.BRANCH_ADDRESS %></td>
                        </tr>
                        <% });
                        %>
                    </tbody>
                </table>
            <% } else { %>
                <p>        No branches found.</p>
            <% } %>
        </div>
        <div class="add_button">
            <br><br><br>
            <button type="button" id="add_button">Add Branch</button>
        </div>
    </div>
    <!--<script src="/js/supplierPageControllers/addScript.js"></script>
    <script src="/js/supplierPageControllers/searchScript.js"></script>-->
    <script src="/js/branches/branchController.js"></script>
</body>
</html>

