<!--************************** details of a branch page ***********************************-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch Details</title>
    <!-- Bootstrap CSS link -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS link -->
    <link rel="stylesheet" href="/css/products/details.css">     <!--might change the css later-->
    
</head>

<body>
    <h1 class="text-center">Branch Details</h1>

    <div class="container mt-5">
        
        <!-- Section 1: Product Information -->
        <div class="card mb-4">
            <div class="card-header">
                Branch Information
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">Branch ID:</dt>
                    <dd class="col-sm-8"><%= branchinfo[0].BRANCH_ID%></dd>
                    <dt class="col-sm-4">Branch Name:</dt>
                    <dd class="col-sm-8"><%= branchinfo[0].NAME %></dd>

                    <dt class="col-sm-4">Manager:</dt>
                    <dd class="col-sm-8"><%= branchinfo[0].MANAGER %></dd>

                    <dt class="col-sm-4">Address:</dt>
                    <dd class="col-sm-8"><%= branchinfo[0].ADDRESS %></dd>
                    <%if(phone_numbers.length>0){%>
                        <dt class="col-sm-4">Mobile Phone:</dt>
                        <dd class="col-sm-8">
                           <% phone_numbers.forEach(number => { %>
                             <%= number.VALUE %>,            <!--extra akta comma print hoy, fix it-->
                        <% }); }%></dd>
                    <%if(emails.length>0){%>
                    <dt class="col-sm-4">Email:</dt>
                    <dd class="col-sm-8">
                       <% emails.forEach(email => { %>
                         <%= email.VALUE %>,            <!--extra akta comma print hoy, fix it-->
                    <% }); }%></dd>
                    <dt class="col-sm-4">Square Footage:</dt>
                    <dd class="col-sm-8"><%= branchinfo[0].SQUARE_FOOTAGE %> sq foot</dd>

                    <dt class="col-sm-4">Average Shipping Duration:</dt>
                    <dd class="col-sm-8"><%= branchinfo[0].AVG_SHIPPING_DURATION %> days</dd>

                    

                </dl>
            </div>
        </div>

        <!-- Section 2: Product Features -->
        <div class="card mb-4">
            <div class="card-header">
                Payment Information
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">Account Number:</dt>
                    <dd class="col-sm-8"><%= branchinfo[0].ACCOUNT_NUMBER %></dd>

                    <dt class="col-sm-4">Account Holder:</dt>
                    <dd class="col-sm-8"><%= branchinfo[0].ACCOUNT_HOLDER %></dd>

                    <dt class="col-sm-4">Bank:</dt>
                    <dd class="col-sm-8"><%= branchinfo[0].BANK_NAME %></dd>

                    <dt class="col-sm-4">Iban:</dt>
                    <dd class="col-sm-8"><%= branchinfo[0].IBAN %></dd>

                </dl>
              </div>
              
             </div>
             <a href="/branches/details/incomeStatement?branchId=<%=branchinfo[0].BRANCH_ID%>" class="btn btn-primary">View Monthly Income Statements</a>
             <a href="/supplyRequests?branchId=<%=branchinfo[0].BRANCH_ID%>" class="btn btn-primary">View Supply Requests</a>
             <a href="/branches/details/edit?branchId=<%=branchinfo[0].BRANCH_ID%>" class="btn btn-primary">Edit</a>
             <a href="/" class="btn btn-primary">Home</a>
        
    <!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->
    <script src="/js/branches/branchDetailsController.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>